.header.dream-wrap
  %h2 그들이 꿈꾼 나라
  %p
    “100년 전, 일제의 총칼에도 굴하지 않고 독립만세를 외친 이들이 꿈꾸었던 세상은 어떤 것이었을까요?
    = succeed "제국(帝國)에서 민국(民國)으로의 전환을 선언한 임시정부가 그려보았던 해방된 나라는 어떤 곳이었을까요?" do
      %br/
    %br/
    %span 우리가 계승해야할 독립운동의 핵심 가치가 무엇인지 토론해 봅시다."
