- content = capture do
  .list-box
    %ul.notice-list
      = render @notices
    = paginate @notices
    - if policy(Notice).new?
      %a.btn-write{href: new_notice_path} 글쓰기
= render 'notices/template', content: content
