.sub-wrap
  .policy-wrap
    %h2 약관 동의
    %p
      100년토론광장의 이용 약관에
      = succeed "동의해주세요." do
        %br/
    .service
      %p
        %input#service1{checked: "checked", type: "checkbox"}/
        %label{for: "service1"} 이용약관(필수)
      .info
        100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.
      %p
        %input#service2{checked: "checked", type: "checkbox"}/
        %label{for: "service2"} 개인정보 수집 및 이용에 대한 안내(필수)
      .info
        100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.100년 토론광장에 오신것을 환영합니다.
      %p
        %input#service3{type: "checkbox"}/
        %label{for: "service3"} 이벤트 등 알림 메일 수신 (선택)
      %p
        %input#service4.js-user-confirm-check-all{type: "checkbox"}/
        %label{for: "service4"} 이용약관, 개인정보 수집 및 이용, 이벤트 등 메일 수신에 모두 동의합니다.
    .btn
      %a{href: root_path} 비동의
      %a.active{href: "#"} 동의
