.sub-wrap
  .policy-wrap
    %h2 약관 동의
    %p
      100년토론광장의 이용 약관에
      = succeed "동의해주세요." do
        %br/
    = form_with url: users_confirm_path, id: 'new-terms-form', class: 'js-form-validation', 'data-form-validation-submit-control': '#new-terms-form .js-confirm-btn' do
      .service
        %p
          %input#all_confirmation.js-user-confirm-check-all{type: "checkbox"}/
          %label{for: "all_confirmation"} 개인정보의 수집·이용에 관한 사항, 사진 및 동영상 촬영에 관한 사항, 이벤트 등 메일 수신에 모두 동의합니다.
        %p
          %input#confirmation_terms.js-user-confirm-check-all-target{name: "confirmation_terms", checked: "checked", type: "checkbox", value: "y", "data-rule-required": "true"}/
          %label{for: "confirmation_terms"} 개인정보의 수집·이용에 관한 사항
        .info-box
          가. 수집·이용 목적 : 국민대토론회 참여 신청 및 행사 안내
          %br
          나. 수집 항목 : 신청자(성명, 연락처, 이메일), 신청 시 작성한 내용
          %br
          다. 보유 및 이용기간 : 국민대토론회 사업 종료 시까지
          %br
          라. 개인정보를 제공받는 자 : 3‧1운동 및 대한민국임시정부 수립 100주년 기념사업추진위원회/국민대토론회 운영 대행사
          %br
          마. 개인정보의 수집·이용에 관한 동의는 거부할 수 있으며, 동의하지 않을 경우 행사참여가 제한됩니다

        %p
          %input#confirmation_privacy.js-user-confirm-check-all-target{name: "confirmation_privacy", checked: "checked", type: "checkbox", value: "y", "data-rule-required": "true"}/
          %label{for: "confirmation_privacy"} 사진 및 동영상 촬영에 관한 사항(필수)
        .info-box
          가. 촬영목적 : 국민대토론회 행사 결과 홍보, 기념사업 결과보고, 방송 자료 등
          %br
          나. 촬영범위 : 행사 시 현장 스케치, 개인 인터뷰 등
          %br
          다. 활용범위 : SNS, 방송, 언론 기사 등을 통한 행사 내용 소개
          %br
          라. 사진 및 동영상 촬영은 거부하실 수 있습니다.

        %p
          %input#confirmation_mailing.js-user-confirm-check-all-target{name: "confirmation_mailing", type: "checkbox", value: "y"}/
          %label{for: "confirmation_mailing"} 이벤트 등 알림 메일 수신 (선택)
      .def-btn.js-user-confirm-check-all-scroll-to
        = link_to '비동의', destroy_user_session_path, method: :delete
        %button.active.js-confirm-btn 동의
