.header.dream-wrap
  %h2 100년 토론 광장
  %p.hidden-mobile.keep-all
    "100년 토론광장은 3‧1운동과 대한민국임시정부 수립과 지난 100년의 역사에서 우리가 계승할 가치를 찾아보고,
    = succeed "앞으로 우리가 어떤 세상을 만들어야 하는지를 함께 토론하는 국민참여 행사입니다." do
      %br/
    %br/
    %span 토론 결과는 참가자 명의의 선언서/제안서로 만듭니다."
  %p.visible-mobile-block.keep-all
    "100년 토론광장은 우리가 어떤 세상을 만들어야 하는지를 함께 토론하는 국민참여 행사입니다."
.contents-w
  .tab.js-menu-header
    / 하위메뉴 열림 "selected" class 추가
    %button.js-menu-toggle{type: "button"} 소개
    %ul
      %li.selected
        %a{href: about_path} 소개
      %li
        %a{href: schedule_path} 개최일정
      %li
        %a{href: caution_path} 유의사항
      %li
        %a{href: map_path} 오시는 길
  .c-inner
    %h3 소개
    %p 100년 토론광장의 취지를 소개합니다
    .year100-cnts
      .top-cnts
        %strong
          민국(民國) 100년!
          %br>/
          그들이 꿈꾼 나라, 우리가 만들 세상!
        %p
          3‧1운동과 대한민국임시정부 수립 100주년!
          %br/
          식민지에서 독립을 꿈꾸며 모든 것을 불살랐던 이들이 그려 보았던
          %br/
          해방된 나라는 어떤 것이었을까요?
          %br/
          그 정신을 이어, 우리가 이뤄온 세상은 어떠했나요?
          %br/
          새로운 대한민국의 미래! 독립을 꿈꿨던 그 정신으로 만듭니다.
      %h4 어떻게 진행하나요?
      %p
        100년 토론광장은 이 나라 주권자인 우리가 직접 100주년의 의미를 토론하고, 대한민국의 새로운 모습을 그려보는 국민주도의 토론광장입니다.
        100년 토론광장은 크게 2부로 구성되어 진행합니다.
      %p
        1부에서는 지난 100년의 역사에서 우리가 꼭 계승해야할 가치가 무엇인지 토론해서 10여 개의 핵심 키워드를 참가자의 투표로 결정합니다.
        2부에서는 이 가치를 토대로, 새로운 대한민국 100년을 위해 우리가 반드시 실천해야할 과제를 토론해 5~10개의 투표로 결정합니다.
        이 결과를 모아 100년 토론광장 참가자 명의의 ‘대한민국 100년 선언서/제안서’를 만듭니다!
      / %h4 어떻게 참여하나요?
      / %p
      /   참여를 원하시는 분들은
      /   = succeed "를 클릭, 관련 정보를 적어주세요." do
      /     %em ‘참가자 신청하기’
      / %p
      /   참여를 원하시는 분들은 주저하지 말고 지금 바로 ‘신청하기’를 눌러 주세요!
      /   100년 토론광장에 참여하시는 분들에게는 ‘대통령 직속 3‧1운동 및 대한민국임시정부 수립 100주년 기념사업추진위원회’에서 제작한 한정판 기념품을
      /   드립니다!
      / .c-btn
      /   %a{href: group_path, target: '_blank'} 참가자 신청하기
