.contents-w
  .c-inner
    %h3 국민 참여단
    %p 100년 토론광장의 국민 참여단 신청안내입니다
    .nat-part
      .desc-box
        %strong
          100년 토론광장은 3‧1운동과 대한민국임시정부 수립과
          %br>/
          지난 100년의 역사에서 우리가 계승할 가치를 찾아보고,
          = succeed "앞으로 우리가 어떤 세상을 만들어야 하는지를 함께 토론하는 국민참여 행사입니다." do
            %br/
        %p 토론 결과는 참가자 명의의 선언문으로 만듭니다.
      .part-cnts
        %div
          %h4 신청시 주의사항
          %div
            %ul
              %li 거주 지역에 상관 없이 원하는 지역에 자유롭게 신청 가능합니다. (중복 지원 가능)
              %li 참여자는 신청자 중 참가규모를 고려하여 무작위로 선발합니다.
              %li 선발 통보 후 무응답시 불참의사로 간주합니다.
        %div
          %h4 신청 지역
          %div
            %ul
              %li 강원‧인천‧수도권 (장소 / 2018년 02월 19일)
              %li 호남‧제주권 (장소 / 2018년 02월 19일)
              %li 충청권 (장소 / 2018년 02월 19일)
              %li 영남권 (장소 / 2018년 02월 19일)
              %li 미래세대 (장소 / 2018년 02월 19일)
        %div
          %h4 신청방법
          %div
            %ul
              %li 우리가 만들 세상에 글을 1개 이상 등록합니다.
              %li 신청서 항목을 빠짐없이 작성합니다.
            %a{href: "#"} 글 등록하기
      .tip
        %h5 작성 팁
        %p 우리가 만들 세상에 글을 등록하신 후 주소 복사 버튼을 누르시면 간편하게 내 글 주소를 입력할 수 있습니다.
      .sns-wrap
        %a.like{href: "#"} 공감해요
        %a.facebook{href: "#"} 공유하기
        %a.copy-url{href: "#"} 주소복사
      .c-btn
        %a{href: "#"} 신청서 작성
