- content = capture do
  .list-box
    %ul.event-list
      = render @stories
    = paginate @stories
    - if policy(Story).new?
      %a.btn-write{href: new_story_path} 글쓰기

= render 'stories/template', content: content
