.header.we-made
  %h2 우리가 만들 세상
  %p
    “100년 전, 선조들이 꿈꾸었던 나라를 현실로 만들려면, 지금 우리는 무엇을 해야 할까요?
    = succeed "어떤 문제를 어떻게 해결해야 할까요? 100년 전의 꿈을 현실로 만들 실천과제를 토론해 봅시다.”" do
      %br/
.notice-view
  .suggest-box
    %strong 100년을 이끌 우리 사회에 필요한 해결 과제는?
    %p 국민 여러분의 생각과 의견을 자유롭게 공유해 주세요.
    %a{href: "#"} 제안하기
  .c-inner
    %h3 국민 제안
    %p 100년 토론광장의 국민들이 제안주신 의견입니다
    .suggest-list
      .list-search
        .sch-box
          %span
            %select{title: "지역선택"}
              %option 지역별
          %span
            %select{title: "분야선택"}
              %option 분야별
          %div
            %input{title: "검색어를 입력해주세요", type: "search"}/
            %button{type: "submit"}
              %span 게시물 검색
        %p
          전체 제안
          = succeed "\u{ac74}" do
            %em 100
      %ul
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
        %li
          .cate
            %span 강원‧인천‧수도권
            %span 과학/기술
          %p 범죄 없는 안전한 대한민국을 만들어요 믿을 수 있는 사회 ...
          .info
            %span.writer
              %i> 작성자
              홍길동님 제안
            %span.like
              %i> 좋아요
              12
            %span.comment
              %i> 코멘트
              12
          %a{href: "#"} 더보기
      .paging
        %a.prev{href: "#"}
          %span 이전
        %span
          %strong 1
          %a{href: "#"} 2
          %a{href: "#"} 3
          %a{href: "#"} 4
          %a{href: "#"} 5
        %a.next{href: "#"}
          %span 다음
