//notice
.header {
	text-align: center;
	h2 {
		padding-top: 80px;
		color: #fff;
		font: {
			size: 55px;
			family: $font-def;
		}
	}
	p {
		padding-top: 10px;
		color: #fff;
		font: {
			size: 20px;
			family: $font-thin;
		}
	}
	&.notice {
		background: {
			color: #032b5b;
			image: url('/images/notice_titlebg.png'), url('/images/notice_titlebg_r.png');
			position: 0 0, 100% 0;
			repeat: no-repeat;
		}
	}
	@include respond-to(pc) {
		height: 365px;
		&.notice {
			min-width: 1200px;
		}
	}
	@include respond-to(mobile) {
		height: 247px;
		padding: 0 30px;
		h2 {
			padding-top: 55px;
			font-size: 28px;
		}
		p {
			font-size: 17px;
			line-height: 1.65;
		}
		&.notice {
			background: {
				size: 84px auto, 78px auto;
				image: url('/images/notice_titlebg_m.png'), url('/images/notice_titlebg_mr.png');
			}
		}
	}
}
.notice-view {
	.c-inner {
		padding-top: 95px;
		> h3 {
			font: {
				size: 50px;
				family: $font-def;
			}
			text-align: center;
		}
		> p {
			font-size: 22px;
			text-align: center;
		}
		.list-box {
			position: relative;
			padding-top: 90px;
			ul.notice-list {
				border: {
					width: 2px 0;
					style: solid;
					color: #868686;
				}
				li {
					padding: 45px 80px;
					border-top: 1px solid #d7d7d7;
					> a {
						font-size: 22px;
					}
					.info {
						padding-top: 20px;
						text-align: left;
						span {
							position: relative;
							padding-right: 40px;
						}
					}
					&:first-child {
						border-top: 0;
					}
				}
			}
			ul.event-list {
				padding-bottom: 40px;
				border: {
					width: 2px 0;
					style: solid;
					color: #868686;
				}
				li {
					padding: 29px 0 5px;
					a {
						.img {
							position: relative;
							min-height: 194px;
							background: #e1e1e1;
							text-align: center;
							.no-img {
								position: absolute;
								top: 50%;
								left: 50%;
								width: 52px;
								transform: translate(-50%, -50%);
								-webkit-transform: translate(-50%, -50%);
							}
						}
						> p {
							overflow: hidden;
							padding-top: 20px;
							font-size: 18px;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.info {
							padding-top: 10px;
							text-align: right;
							span {
								display: inline-block;
								&.date {
									position: absolute;
								}
							}
						}
					}
				}
			}
			ul.faq-list {
				margin-top: -50px;
				border: {
					width: 2px 0;
					style: solid;
					color: #868686;
				}
				li {
					position: relative;
					padding: 20px 0;
					border-top: 1px solid #d7d7d7;
					span {
						display: block;
						position: absolute;
						left: 0;
						width: 39px;
						height: 39px;
						background: #adadad;
						border-radius: 50%;
						color: #fff;
						font: {
							size: 18px;
							family: 'Montserrat';
						}
						text-align: center;
						line-height: 39px;
						&.ques {
							top: 50%;
							transform: translate(0, -50%);
							-webkit-transform: translate(0, -50%);
						}
						&.answ {
							background: #053c7e;
						}
					}
					> em {
						display: table;
						min-height: 40px;
					}
					a {
						display: table-cell;
						position: relative;
						padding: {
							right: 60px;
							left: 48px;
						}
						font-size: 18px;
						line-height: 1.4;
						vertical-align: middle;
					}
					p {
						display: none;
						position: relative;
						margin-top: 20px;
						padding-left: 48px;
						color: #666;
						font-size: 16px;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 34px;
						right: 5px;
						width: 13px;
						height: 13px;
						border: {
							width: 0 1px 1px 0;
							color: #adadad;
							style: solid;
						}
						transform: rotate(45deg);
					}
					&.selected {
						&:after {
							transform: rotate(-135deg);
						}
						p {
							display: block;
						}
					}
					&:first-child {
						border-top: 0;
					}
				}
			}
			.btn-write {
				display: block;
				position: absolute;
				top: 17px;
				right: 0;
				width: 110px;
				height: 43px;
				padding-left: 20px;
				border-radius: 22px;
				background: #006ebc;
				color: #fff;
				font-size: 18px;
				text-align: left;
				line-height: 43px;
				box-sizing: border-box;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 15px;
					right: 25px;
					width: 10px;
					height: 10px;
					border: {
						width: 0 2px 2px 0;
						style: solid;
						color: #fff;
					}
					transform: rotate(-45deg);
				}
			}
		}
		.viewbox {
			margin-top: 85px;
			padding: 40px 0 80px;
			border: {
				width: 2px 0;
				style: solid;
				color: #868686;
			}
			> h4 {
				padding: 0 0 0 80px;
				font: {
					size: 22px;
					family: $font-def;
				}
			}
			.info {
				margin-left: 80px;
				padding-top: 12px;
				text-align: left;
				span {
					position: relative;
					margin-right: 40px;
				}
			}
			.cnts {
				margin-top: 45px;
				padding: 64px 80px;
				border-top: 1px solid #d7d7d7;
				font-size: 18px;
				.img-wrap {
					margin-top: 60px;
					img {
						max-width: 100%;
					}
				}
			}
			.sns-wrap {
				text-align: center;
				a {
					display: inline-block;
					width: 100px;
					height: 100px;
					margin: 0 10px;
					border: 1px solid #d5d5d5;
					border-radius: 50%;
					font-size: 15px;
					text-align: center;
					&:before {
						content: '';
						display: block;
						width: 32px;
						height: 32px;
						margin: 23px auto 3px;
						background: url('/images/icon_b_sns.png') no-repeat 0 0;
					}
					&.facebook {
						&:before {
							background-position: -120px 0;
						}
					}
					&.copy-url {
						&:before {
							background-position: -240px 0;
						}
					}
				}
			}
		}
		.write-box {
			margin-top: 80px;
			padding-bottom: 20px;
			border: {
				width: 2px 0;
				style: solid;
				color: #868686;
			}
			ul {
				li {
					padding: 25px 0 10px;
					> label,
					> em {
						display: block;
						padding-bottom: 10px;
						font-size: 22px;
					}
					input {
						width: 100%;
						//height: 48px;
						border: 1px solid #cecece;
						border-radius: 10px;
					}
					textarea {
						width: 100%;
						height: 283px;
						border: 1px solid #cecece;
						border-radius: 10px;
					}
					> p {
						margin-top: 7px;
						color: #999;
						font-size: 16px;
						&.err {
							color: #d83a3a;
						}
					}
				}
			}
		}
		.b-btn {
			margin-top: 60px;
			text-align: center;
			a {
				display: inline-block;
				width: 146px;
				height: 64px;
				margin: 0 4px;
				border-radius: 35px;
				color: #fff;
				font-size: 22px;
				line-height: 62px;
				&.list {
					color: #006ebc;
					border: 2px solid #006ebc;
				}
				&.modify {
					background: #006ebc;
				}
				&.delete {
					background: #d83a3a;
				}
			}
		}
		@mixin inpBtn {
			height: 43px;
			padding: 0 30px;
			border-radius: 21px;
			background: #006ebc;
			color: #fff;
			font-size: 18px;
			line-height: 43px;
		}
		.comment-wrap {
			margin-top: 100px;
			.cmt-write {
				padding: 40px 40px 20px;
				border-radius: 10px;
				background-color: #e1e1e1;
				text-align: right;
				textarea {
					width: 100%;
					height: 175px;
					padding: 10px;
					border-radius: 10px;
					border: solid 1px #cecece;
					box-sizing: border-box;
					background-color: #fff;
					font-size: 18PX;
				}
				button {
					@include inpBtn;
					margin-top: 10px;
				}
			}
			.cmt-list {
				margin-top: 90px;
				ul {
					border:  {
						width: 2px 0;
						style: solid;
						color: #868686;
					}
					li {
						position: relative;
						padding: 50px 40px 50px 40px;
						border-top: 1px solid #d7d7d7;
						.info {
							text-align: left;
							span {
								position: relative;
								margin-left: 20px;
								padding-right: 20px;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: 5px;
									right: 0;
									width: 1px;
									height: 16px;
									background: #dfdfdf;
								}
								&:first-child {
									margin-left: 0;
								}
								&:last-child {
									&:before {
										display: none;
									}
								}
							}
						}
						> p {
							margin-top: 35px;
							font-size: 16px;
						}
						.write-box {
							position: relative;
							margin-top: 45px;
							padding-right: 110px;
							textarea {
								width: 100%;
								height: 43px;
								border-radius: 10px;
								border: solid 1px #cecece;
								background-color: #fff;
							}
							button {
								@include inpBtn;
								position: absolute;
								top: 0;
								right: 0;
							}
						}
						.btn {
							position: absolute;
							top: 40px;
							right: 40px;
							button {
								position: relative;
								width: 90px;
								height: 33px;
								margin-left: 4px;
								padding-left: 40px;
								border-radius: 16px;
								color: #fff;
								font-size: 14px;
								text-align: left;
								box-sizing: border-box;
								line-height: 30px;
								background: #fff;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: 5px;
									left: 20px;
									width: 16px;
									height: 18px;
									background: url('/images/icon_comment.png') no-repeat 0 0;
								}
								&.modify {
									border: 2px solid #d83a3a;
									color: #d83a3a;
								}
								&.delete {
									background: #d83a3a;
									&:before {
										top: 7px;
										background-position: -99px 0;
									}
								}
								&.recomd {
									background: #006ebc;
									&:before {
										top: 7px;
										background-position: -194px 0;
									}
								}
							}
						}
						&:first-child {
							border-top: 0;
						}
					}
				}
			}
		}
	}
	@include respond-to(pc) {
		width: 1200px;
		margin: 0 auto;
		.tab {
			button {
				display: none;
			}
			ul {
				@include clearfix;
				width: 810px;
				margin: -69px auto 0;
				li {
					float: left;
					margin-left: 1px;
					a {
						display: block;
						width: 269px;
						height: 69px;
						color: #fff;
						background: #4e6f95;
						font-size: 24px;
						line-height: 69px;
						text-align: center;
					}
					&.selected,
					&:hover {
						a {
							background: #fff;
							color: #006ebc;
						}
					}
				}
			}
		}
		.c-inner {
			> p {
				br {
					display: none;
				}
			}
			.list-box {
				ul.event-list {
					@include clearfix;
					padding-bottom: 80px;
					li {
						float: left;
						width: 349px;
						margin-left: 60px;
						padding-top: 60px;
						a {
							> p {
								font-size: 22px;
							}
						}
						&:nth-child(3n+1) {
							margin-left: 20px;
						}
					}
				}
				ul.faq-list {
					li {
						padding: 35px 75px;
						span {
							width: 49px;
							height: 49px;
							font-size: 20px;
							line-height: 49px;
						}
						a {
							padding-left: 80px;
							font-size: 22px;
						}
						p {
							padding-left: 80px;
							font-size: 18px;
							line-height: 1.8;
						}
						&:after {
							top: 45px;
							right: 80px;
							width: 15px;
							height: 15px;
							border-width: 0 2px 2px 0;
						}
					}
				}
			}
			.write-box {
				padding: 55px;
				ul {
					li {
						position: relative;
						padding-left: 105px;
						> label,
						> em {
							position: absolute;
							left: 0;
						}
					}
				}
			}
		}
	}
	@include respond-to(mobile) {
		.tab {
			button {
				position: relative;
				width: 100%;
				height: 54px;
				padding-left: 20px;
				background: #4e6f95;
				color: #fff;
				font-size: 18px;
				text-align: left;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 19px;
					right: 20px;
					width: 10px;
					height: 10px;
					border: {
						width: 0 2px 2px 0;
						style: solid;
						color: #fff;
					}
					transform: rotate(45deg);
				}
			}
			ul {
				display: none;
				position: absolute;
				width: 100%;
				border-bottom: 1px solid #a6a6a6;
				box-shadow: 0 0 7px rgba(0, 0, 0, .3);
				li {
					background: #fff;
					border-top: 1px solid #ccc;
					a {
						display: block;
						height: 54px;
						padding-left: 20px;
						font-size: 18px;
						line-height: 54px;
					}
				}
			}
			&.selected {
				button {
					&:after {
						top: 22px;
						transform: rotate(-135deg);
					}
				}
				ul {
					display: block;
				}
			}
		}
		.c-inner {
			padding: 35px 20px 0;
			> h3 {
				font-size: 28px;
			}
			> p {
				padding-top: 10px;
				font: {
					size: 17px;
					family: $font-thin;
				}
				line-height: 1.3;
			}
			.list-box {
				padding-top: 80px;
				ul.notice-list {
					li {
						padding: 25px 10px;
						a {
							display: block;
							height: 25px;
							font-size: 18px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.info {
							padding-top: 5px;
							span {
								display: inline-block;
								padding-right: 25px;
							}
						}
					}
				}
				.btn-write {
					right: auto;
					left: 50%;
					transform: translate(-50%, 0);
					-webkit-transform: translate(-50%, 0);
				}
			}
			.viewbox {
				margin-top: 30px;
				padding: 25px 0 30px;
				> h4 {
					padding: 0;
					font-size: 18px;
				}
				.info {
					margin: 0;
					span {
						display: inline-block;
						margin-right: 20px;
					}
				}
				.cnts {
					margin-top: 22px;
					padding: 20px 0;
					font-size: 15px;
					.img-wrap {
						margin-top: 25px;
					}
				}
				.sns-wrap {
					a {
						width: 80px;
						height: 80px;
						margin: 0 3px;
						font-size: 14px;
						&:before {
							margin-top: 15px;
							width: 26px;
							height: 26px;
							background-size: auto 100%;
						}
						&.facebook {
							&:before {
								background-position: -98px 0;
							}
						}
						&.copy-url {
							&:before {
								background-position: -195px 0;
							}
						}
					}
				}
			}
			.b-btn {
				margin-top: 20px;
				a {
					width: 86px;
					height: 54px;
					margin: 0 1px;
					font-size: 19px;
					line-height: 52px;
				}
			}
			.comment-wrap {
				margin-top: 47px;
				.cmt-write {
					padding: 20px;
					text-align: center;
				}
				.cmt-list {
					margin-top: 30px;
					ul {
						li {
							padding: 30px 0 35px;
							> p {
								margin-top: 20px;
								font-size: 16px;
							}
							.info {
								padding-top: 0;
								span {
									display: inline-block;
									position: relative;
									margin-left: 10px;
									padding-right: 10px;
								}
							}
							.btn {
								position: static;
								padding-top: 20px;
								text-align: center;
							}
							.write-box {
								margin-top: 20px;
								padding: 0;
								text-align: center;
								textarea {
									height: 85px;
								}
								button {
									position: static;
									margin-top: 6px;
								}
							}
						}
					}
				}
			}
		}
	}
}
