@charset "utf-8";

@import "base.scss";
@import "fontface.scss";

//LAYOUT
#skipNav {
	a {
		position: absolute;
		left:-3000%;
	}	
	:focus {
		display: block;
		left:0; 
		top: 0;
		z-index: 100;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background: #fff;
		color: $color-def;
		text-align: center;
	}
	@include respond-to(mobile) {
		display: none;
	}
}
//Layout
header {
	position: relative;
	min-height: 100px;
	border-bottom: 1px solid #e8e8e8;
	h1 {
		position: absolute;
		top: 22px;
		left: 50px;
		a {
			@include hiddenText;
			display: block;
			width: 252px;
			height: 48px;
			background: url('/images/logo.png');
		}
	}
	.join {
		a {
			@include btndef(36px, 34px);
		}
	}
	@include respond-to(mobile) {
		min-height: 74px;
		h1 {
			z-index: 15;
			top: 19px;
			left: 20px;
			a {
				width: 174px;
				background-size: 100% auto;
			}
		}
		> button {
			position: absolute;
			top: 17px;
			right: 10px;
			width: 40px;
			height: 40px;
			background: none;
			text-align: center;
			span {
				@include hiddenText;
				display: inline-block;
				position: relative;
				width: 20px;
				height: 17px;
				border: {
					width: 1px 0;
					style: solid;
					color: #000;
				}
				box-sizing: border-box;
				&:before {
					content: '';
					position: absolute;
					top: 7px;
					right: 0;
					width: 16px;
					height: 1px;
					background: #000;
				}
			}
		}
		.nav-wrap {
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			background: #fff;
			z-index: 10;
			nav {
				padding: 95px 0 0 30px;
				ul {
					li {
						padding-top: 15px;
						font-size: 22px;
					}
				}
			}
			> button {
				position: absolute;
				top: 17px;
				right: 10px;
				width: 40px;
				height: 40px;
				background: none;
				span {
					@include hiddenText;
					display: inline-block;
					position: relative;
					width: 20px;
					height: 20px;
					&:before,
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: -2px;
						left: 50%;
						width: 1px;
						height: 24px;
						background: #000;
					}
					&:before {
						transform: rotate(45deg);
					}
					&:after {
						transform: rotate(-45deg);
					}
				}
			}
		}
		.join {
			padding: 50px 0 0 20px;
			.after-login {
				button {
					display: none;
				}
			}
		}
		&.selected {
			h1 {
				position: fixed;
			}
			.nav-wrap {
				display: block;
			}
		}
	}
	@include respond-to(pc) {
		button {
			display: none;
		}
		nav {
			ul {
				padding-top: 35px;
				text-align: center;
				li {
					display: inline-block;
					position: relative;
					font-size: 20px;
					a {
						display: inline-block;
						padding: 0 25px;
						&:hover {
							color: $color-point;
						}
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 8px;
						width: 1px;
						height: 17px;
						background: #e0e0e0;
					}
					&:first-child {
						&:before {
							display: none;
						}
					}
				}
			}
		}
		.join {
			position: absolute;
			top: 30px;
			right: 50px;
			a {
				margin-left: 2px;
			}
			.after-login {
				position: relative;
				text-align: right;
				button {
					display: inline-block;
					height: 36px;
					padding: 0 20px;
					line-height: 34px;
					background: #fff;
					border-radius: 18px;
					color: #666;
					font-size: 15px;
					text-align: center;
					border: 1px solid #d8d8d8;
					box-sizing: border-box;
					min-width: 160px;
					&:before {
						content: '';
						display: inline-block;
						width: 16px;
						height: 16px;
						margin-right: 10px;
						background: url('/images/icon_profile.png') no-repeat 0 0;
					}
					&:after {
						@include arrow(#3e6999);
						width: 9px;
						height: 9px;
						margin-left: 10px;
						transform: rotate(225deg);
						vertical-align: 3px;
					}
				}
				> div {
					position: absolute;
					top: 40px;
					right: 0;
					width: 160px;
					padding: 0 20px;
					border: 1px solid #d8d8d8;
					border-radius: 10px;
					box-sizing: border-box;
					a {
						display: block;
						border: none;
						border-top: 1px solid #dedede;
						border-radius: 0;
						text-align: left;
						&:first-child {
							border: none;
						}
					}
				}
			}
		}
	}
	@include respond-to(sPc) {
		h1 {
			left: 20px;
			a {
				width: 200px;
				background-size: 100% auto;
			}
		}
		nav {
			ul {
				li {
					font-size: 15px;
					a {
						padding: 0 10px;
					}
					&:before {
						top: 4px;
					}
				}
			}
		}
		.join {
			right: 20px;
		}
	}
}
footer {
	padding-bottom: 48px;
	background: #3c3c3c;
	text-align: center;
	> ul {
		height: 70px;
		padding-top: 20px;
		border-bottom: 1px solid #4c4c4c;
		box-sizing: border-box;
		li {
			display: inline-block;
			position: relative;
			font-size: 18px;
			a {
				padding: 0 20px;
				font-family: $font-thin;
				color: #fff;
				&:hover {
					color: $color-point;
				}
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 8px;
				width: 1px;
				height: 13px;
				background: #858585;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}

	@include respond-to(mobile) {
		padding-bottom: 20px;
		> ul {
			height: 50px;
			padding-top: 13px;
			li {
				font-size: 14px;
				&:before {
					top: 5px;
				}
			}
		}
	}
	.finfo {
		padding-top: 14px;
		.logo {
			@include hiddenText;
			display: inline-block;
			width: 252px;
			height: 50px;
			background: url('/images/logo.png') no-repeat 0 100%;
		}
		> p {
			padding-top: 20px;
			color: #fff;
			font: {
				size: 18px;
				family: $font-thin;
			}
		}
		ul {
			padding-top: 5px;
			li {
				display: inline-block;
				position: relative;
				padding: 0 20px;
				color: #b0b0b0;
				font: {
					size: 16px;
					family: $font-thin;
				}
				a {
					color: #b0b0b0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 5px;
					right: 0;
					width: 1px;
					height: 12px;
					background: #8e8e8e;
				}
				&:last-child {
					&:before {
						display: none;
					}
				}
			}
		}
		.sns {
			a.facebook {
				display: inline-block;
				width: 53px;
				height: 53px;
				padding-top: 14px;
				background: #616161;
				line-height: 53px;
				border-radius: 50%;
				box-sizing: border-box;
				span {
					@include hiddenText;
					display: block;
					width: 12px;
					height: 26px;
					margin: 0 auto;
					background: url('/images/sns_facebook.png') no-repeat 0 0;
					opacity: 0.5;
				}
				&:hover {
					background: #3f619b;
					span {
						opacity: 1;
					}
				}
			}
		}
		@include respond-to(mobile) {
			.logo {
				width: 202px;
				height: 40px;
				background-size: 100% auto;
			}
			> p {
				padding-top: 7px;
				font-size: 14px;
			}
			ul {
				li {
					padding: 0 12px;
					font-size: 13px;
					&:before {
						height: 10px;
					}
				}
			}
			.sns {
				padding-top: 15px;
				a.facebook {
					width: 43px;
					height: 43px;
					padding-top: 11px;
					span {
						width: 10px;
						height: 22px;
						background-size: 100% auto;
					}
				}
			}
		}
		@include respond-to(pc) {
			position: relative;
			width: 1200px;
			margin: 0 auto;
			> p {
				br {
					display: none;
				}
			}
			.sns {
				position: absolute;
				right: 0;
				bottom: 0;
				
			}
		}
	}
}
main {
	padding: 0 0 85px;
}
//main
.new {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 39px;
	height: 39px;
	background: #f54337;
	line-height: 39px;
	text-align: center;
	&:before {
		content: 'N';
		color: #fff;
		font-size: 16px;
	}
	span {
		@include hiddenText;
		display: block;
	}
}
.top-billboard {
	position: relative;
	.bill-sug {
		height: 873px;
		text-align: center;
		.cnts {
			padding-top: 62px;
			> strong {
				display: block;
			}
			> p {
				position: relative;
				display: inline-block;
				//border: 1px solid #f00;
				margin-top: 15px;
				font-size: 36px;
				&:before,
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					top: -17px;
					width: 34px;
					height: 26px;
					background: url('/images/quot.png') no-repeat 0 0;
				}
				&:before {
					left: -45px;
				}
				&:after {
					right: -45px;
					transform: rotate(180deg);
				}
			}
			> div {
				padding-top: 30px;
				color: #666;
				font-size: 22px;
				span {
					@include hiddenText;
					display: inline-block;
					width: 22px;
					height: 24px;
					margin-right: 14px;
					background: url('/images/icon_date.png') no-repeat 0 0;
					vertical-align: -3px;
				}
			}
			> a {
				display: inline-block;
				height: 64px;
				margin-top: 55px;
				padding: 0 35px;
				border-radius: 32px;
				border: 2px solid $color-point;
				box-sizing: border-box;
				background: #fff;
				color: $color-point;
				font-size: 22px;
				line-height: 58px;
				&:after {
					@include arrow($color-point);
					margin-left: 10px;
					vertical-align: 2px;
				}
				&:hover {
					background: $color-point;
					color: #fff;
					&:after {
						border-color: #fff;
					}
				}
			}
		}
		@include respond-to(pc) {
			background: url('/images/billimg.png') no-repeat 50% 0;
			.cnts {
				> p {
					br {
						display: none;
					}
				}
			}
		}
		@include respond-to(wide) {
			background: {
				image: url('/images/billbg_left.png'), url('/images/billbg_right.png');
				position: 0 0, 100% 32px;
				repeat: no-repeat;
			}
		}
		@include respond-to(mobile) {
			height: 474px;
			background: {
				image: url('/images/billbg_left_m.png'), url('/images/billbg_right_m.png');
				position: 0 0, 100% 0;
				size: 129px auto, 108px auto;
				repeat: no-repeat;
			}
			.cnts {
				> strong {
					img {
						width: 274px;
					}
				}
				> p {
					//padding: 0 46px;
					font-size: 20px;
					line-height: 1.3;
					&:before,
					&:after {
						top: -5px;
						width: 18px;
						height: 14px;
						background-size: 100% auto;
					}
					&:before {
						left: -30px;
					}
					&:after {
						right: -20px;
					}
				}
				> div {
					font-size: 14px;
					span {
						width: 17px;
						height: 19px;
						margin-right: 7px;
						background-size: 100% auto;
						vertical-align: -4px;
					}
				}
				> a {
					height: 45px;
					margin-top: 30px;
					font-size: 16px;
					line-height: 40px;
				}
			}
		}
	}
	.controller {
		position: absolute;
		width: 100%;
		bottom: 200px;
		text-align: center;
		.swiper-wrap {
			position: absolute;
			width: 100%;
			bottom: 24px;
		}
		.pagination {
			display: inline-block;
			span {
				display: inline-block;
				width: 13px;
				height: 13px;
				margin: 0 2px;
				background-color: #acacac;
				border-radius: 7px;
				vertical-align: middle;
				&.active {
					width: 38px;
					background-color: $color-point;
				}
				@include respond-to(mobile) {
					width: 14px;
					height: 14px;
				}
			}
		}
		.controls-direction > button {
			display: none;
		}
		.controls-auto {
			display: inline-block;
			position: relative;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			button {
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				font-size: 0;
				vertical-align: middle;
				background: #fff url('/images/play_stop.png') no-repeat 0 -1px;
				border-radius: 50%;
				//border: 1px solid #000;
				&.stop {
					display: inline-block;
					z-index: 10;
					background-position: 100% -1px;
					&.active {
						display: none;
					}
				}
				&.start {
					display: inline-block;
				}
			}
		}
		@include respond-to(mobile) {
			bottom: 44px;
		}
	}
}
.apply-box {
	position: relative;
	background: #b3c8dc;
	h1 {
		color: #112232;
		text-align: center;
	}
	> div {
		h2 {
			margin-top: 30px;
			color: #314a62;
			font: {
				family: $font-def;
				size: 24px;
			}
			text-align: center;
			&:before,
			&:after {
				content: '';
				display: inline-block;
				height: 1px;
				background: #a3b7cb;
				vertical-align: middle;
			}
			&:before {
				margin-right: 20px;
			}
			&:after {
				margin-left: 20px;
			}
		}
		ul {
			li {
				padding-top: 10px;
				color: #4c6177;
				font-size: 18px;
				padding-left: 15px;
				text-indent: -15px;
				> a {
					display: inline-block;
					height: 33px;
					margin-left: 15px;
					padding: 0 17px;
					border-radius: 17px;
					background: #006ebc;
					color: #fff;
					font-size: 16px;
					line-height: 33px;
					text-indent: 0;
					&:after {
						@include arrow(#fff);
						width: 10px;
						height: 10px;
						margin-left: 6px;
						vertical-align: 1px;
					}
					&:hover {
						background: #0d588d;
					}
				}
				&:before {
					@include bult(5px, 5px, #122232);
					margin-right: 10px;
					vertical-align: 5px;
				}
			}
		}
	}
	> ul {
		background: #fff;
		border-radius: 10px;
		border: 2px solid #afc2d4;
		li {
			box-sizing: border-box;
			text-align: center;
			strong {
				display: block;
			}
			> a {
				@include arrowBtn;
			}
			> p {
				&:before {
					@include bult(4px, 4px, #ababab);
					margin-right: 10px;
					vertical-align: 4px;
				}
			}
		}
	}
	@include respond-to(mobile) {
		padding: 35px 20px 20px;
		h1 {
			font-size: 30px;
			line-height: 1.2;
		}
		> div {
			h2 {
				font-size: 22px;
				&:after,
				&:before {
					width: 64px;
				}
			}
			ul {
				li {
					font-size: 16px;
					> a {
						margin: {
							top: 5px;
							left: 0;
						}
					}
				}
			}
		}
		> ul {
			margin-top: 20px;
			li {
				padding: 17px 0 15px;
				border-top: 2px solid #afc2d4;
				strong {
					padding-bottom: 6px;
					font-size: 20px;
				}
				> span {
					display: none;
				}
				> p {
					margin-top: 1px;
					&:before {
						margin-right: 6px;
					}
				}
				> a {
					margin-top: 15px;
				}
			}
		}
	}
	@include respond-to(pc) {
		z-index: 5;
		width: 1340px;
		margin: -123px auto 0;
		padding: 74px 0 67px;
		border-radius: 5px;
		h1 {
			font-size: 36px;
		}
		> div {
			h2 {
				&:before,
				&:after {
					width: 308px;
				}
			}
			ul {
				padding: {
					top: 30px;
					left: 410px;
				}
			}
		}
		> ul {
			@include clearfix;
			margin: 50px 70px 0;
			li {
				float: left;
				width: 239px;
				height: 300px;
				padding-top: 25px;
				border-left: 2px solid #afc2d4;
				strong {
					font-size: 28px;
				}
				span {
					display: block;
					padding: 6px 0 20px;
					color: #555;
					font-size: 18px;
				}
				> p {
					padding: {
						top: 5px;
						left: 48px;
					}
					color: #666;
					font-size: 16px;
					text-align: left;
				}
				> a {
					margin-top: 50px;
				}
				&:first-child {
					border: none;
				}
			}
		}
	}
}
.make-w {
	position: relative;
	&:before {
		content: '';
		display: block;
		top: 0;
		left: 50%;
		position: absolute;
		width: 1px;
		height: 49px;
		background: #000;
	}
	h1 {
		font-family: $font-def;
		text-align: center;
		line-height: 100%;
	}
	> p {
		text-align: center;
	}
	@include respond-to(mobile) {
		padding: 75px 20px 20px;
		h1 {
			font-size: 30px;
		}
		> p {
			padding-top: 15px;
			color: #666;
			font: {
				size: 17px;
				family: $font-thin;
			}
			line-height: 1.4;
		}
	}
	@include respond-to(pc) {
		width: 1193px;
		margin: 0 auto;
		padding-top: 100px;
		h1 {
			font-size: 45px;
		}
		> p {
			padding-top: 25px;
			color: #666;
			font: {
				size: 24px;
				family: $font-thin;
			}
			text-align: center;
			line-height: 1.5;
		}
	}
}
.dream {
	.inner {
		position: relative;
		background: #27479a;
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			background: #ffe851;
		}
		> div {
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 49px;
				left: 50%;
				background: #fff;
			}
			h1 {
				color: #fff;
				font-family: $font-def;
				text-align: center;
			}
			> p {
				color: rgba(255, 255, 255, 0.5);
				font-family: $font-thin;
				text-align: center;
			}
			> ul {
				background: #fff;
				li {
					text-align: center;
					.img {
						img {
							display: block;
						}
					}
					> a {
						@include arrowBtn;
						width: 170px;
						box-sizing: border-box;
					}
					&:first-child {
						border: none;
					}
				}
			}
		}
	}
	@include respond-to(mobile) {
		.inner {
			&:after {
				width: 120px;
				height: 140px;
				top: -140px;
				right: 0;
			}
			> div {
				padding: 70px 20px 20px;
				&:before {
					top: 0;
				}
				h1 {
					font-size: 30px;
				}
				> p {
					padding: 15px 50px 0;
					font-size: 17px;
				}
				> ul {
					margin-top: 40px;
					border: 2px solid #000;
					li {
						padding-bottom: 43px;
						border-top: 2px solid #000;
						.img {
							border-bottom: 2px solid #000;
							img {
								width: 100%;
							}
						}
						> p {
							padding: 25px 25px 0;
							font-size: 18px;
							line-height: 1.5;
						}
						> a {
							margin-top: 25px;
						}
					}
				}
			}
		}
	}
	@include respond-to(pc) {
		overflow: hidden;
		margin-top: -215px;
		padding-top: 307px;
		.inner {
			width: 1360px;
			height: 1060px;
			margin: 0 auto;
			&:before {
				content: '';
				display: block;
				height: 1060px;
				position: absolute;
				z-index: -1;
				width: 100%;
				left: -80%;
				background: #27479a;
			}
			&:after {
				top: -305px;
				left: 980px;
				width: 100%;
				height: 1060px;
			}
			> div {
				width: 1190px;
				margin: 0 auto;
				padding-top: 180px;
				&:before {
					top: 80px;
				}
				h1 {
					font: {
						size: 45px;
					}
				}
				> p {
					margin-top: 20px;
					font: {
						size: 24px;
					}
				}
				ul {
					@include clearfix;
					margin-top: 78px;
					li {
						float: left;
						width: 395px;
						border-left: 2px solid #27479a;
						.img {
							border-bottom: 2px solid #27479a;
						}
						> p {
							padding: 50px 40px 0;
							font-size: 24px;
							line-height: 1.3;
						}
						> a {
							margin-top: 45px;
						}
					}
				}
			}
		}
	}
}
.notice-wrap {
	> div {
		h2 {
			font-family: $font-def;
		}
		> p {
			color: #777;
			font-family: $font-thin;
		}
		ul {
			border-top: 2px solid #000;
			li {
				a {
					color: #666;
				}
			}
		}
	}
	@include respond-to(mobile) {
		padding: 0 20px 40px;
		> div {
			padding-top: 50px;
			h2 {
				font-size: 26px;
			}
			> p {
				font-size: 16px;
			}
			ul {
				margin-top: 10px;
				padding-top: 5px;
				li {
					padding-top: 15px;
					font-size: 16px;
					line-height: 1.4;
					span {
						display: block;
					}
				}
			}
		}
	}
	@include respond-to(pc) {
		@include clearfix;
		width: 1200px;
		margin: 0 auto;
		padding: 95px 0 100px;
		> div {
			width: 516px;
			h2 {
				font-size: 36px;
			}
			> p {
				font-size: 20px;
			}
			ul {
				margin-top: 15px;
				padding-top: 30px;
				li {
					position: relative;
					padding-top: 10px;
					font-size: 20px;
					a {
						span {
							position: absolute;
							right: 0;
						}
					}
					&:hover {
						a {
							color: $color-point;
						}
					}
				}
			}
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
		}
	}
}
.news {
	position: relative;
	background: #efefef;
	.inner {
		position: relative;
		&:before {
			content: '';
			display: block;
			top: 0;
			left: 50%;
			position: absolute;
			width: 1px;
			height: 49px;
			background: #000;
		}
		h1 {
			font-family: $font-def;
			text-align: center;
		}
		> p {
			color: #666;
			font-family: $font-thin;
			text-align: center;
		}
		> ul {
			li {
				position: relative;
				background: #fff;
				border: 2px solid #868686;
				.img {
					border-bottom: 2px solid #868686;
					img {
						display: block;
					}
				}
				.info {
					position: relative;
					padding-top: 5px;
					text-align: right;
					span {
						color: #666;
						font-size: 16px;
						i {
							@include hiddenText;
							display: inline-block;
							width: 16px;
							height: 16px;
							margin-right: 7px;
							background: url('/images/icon_list.png') no-repeat 0 0;
							vertical-align: -2px;
						}
						&.date {
							position: absolute;
							left: 0;
						}
						&.like {
							padding-right: 13px;
							i {
								background-position: -25px 0;
							}
						}
						&.comment {
							&:before {
								content: '';
								display: inline-block;
								width: 1px;
								height: 16px;
								background: #dfdfdf;
								vertical-align: -2px;
							}
							i {
								margin-left: 13px;
								background-position: 100% 0;
							}
						}
					}
				}
				> p {
					color: #000;
				}
				> a {
					display: inline-block;
					margin-top: 25px;
					color: $color-point;
					font-size: 18px;
					&:after {
						@include arrow($color-point);
					}
				}
			}
		}
	}
	@include respond-to(mobile) {
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: -15px;
			width: 318px;
			height: 343px;
			background: url('/images/news_bg_m.png') no-repeat 0 0;
			background-size: 100% auto;
		}
		.inner {
			padding: 107px 20px 60px;
			&:before {
				top: 30px;
			}
			h1 {
				font-size: 30px;
			}
			> p {
				padding-top: 5px;
				font-size: 17px;
				line-height: 1.4;
			}
			> ul {
				margin-top: 40px;
				li {
					margin-top: 3px;
					padding: 30px;
					.img {
						img {
							width: 100%;
						}
					}
					.info {
						padding-top: 15px;
						text-align: left;
						span {
							&.date {
								display: block;
								padding-bottom: 3px;
								position: static;
							}
						}
					}
					> p {
						font-size: 18px;
					}
					> a {
						font-size: 15px;
					}
					&:first-child {
						padding: 0 0 30px;
						.info {
							padding-top: 0;
							margin: 30px 30px 0;
						}
						> p {
							padding: 15px 30px 0;
						}
						> a {
							margin-left: 30px;
						}
					}
					&:last-child {
						display: none;
					}
				}
			}
		}
	}
	@include respond-to(pc) {
		height: 1140px;
		padding-top: 85px;
		box-sizing: border-box;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 130px;
			right: 0;
			width: 1068px;
			height: 1065px;
			background: url('/images/news_bg.png') no-repeat 0 0;
		}
		.inner {
			width: 1125px;
			margin: 0 auto;
			padding-top: 100px;
			h1 {
				font-size: 45px;
			}
			> p {
				margin-top: 15px;
				font-size: 24px;
			}
			> ul {
				position: relative;
				margin-top: 100px;
				padding-left: 715px;
				li {
					width: 408px;
					height: 222px;
					margin-top: 9px;
					padding: 40px 45px;
					box-sizing: border-box;
					> p {
						color: #000;
						font-size: 22px;
					}
					&:first-child {
						position: absolute;
						top: 0;
						left: 0;
						width: 658px;
						height: 685px;
						padding: 0;
						margin-top: 0;
						.info {
							margin: 40px 60px 0;
							box-sizing: border-box;
						}
						> p {
							padding: 5px 60px 0;
						}
						> a {
							margin-left: 60px;
						}
					}
				}
			}
		}
	}
}
.partner {
	h2 {
		font-family: $font-def;
	}
	> div {
		ul {
			li {
				display: inline-block;
				vertical-align: bottom;
			}
		}
	}
	@include respond-to(mobile) {
		padding: 50px 20px 0;
		> div {
			ul {
				li {
					margin-right: 15px;
					img {
						height: 45px;
					}
				}
			}
			&:last-child {
				margin-top: 30px;
				padding-top: 25px;
				border-top: 1px solid rgba(0,0,0, .15);
			}
		}
	}
	@include respond-to(pc) {
		@include clearfix;
		width: 1200px;
		margin: 0 auto;
		padding-top: 125px;
		> div {
			width: 600px;
			box-sizing: border-box;
			ul {
				margin-top: -15px;
				li {
					padding: 19px 35px 0 0;
				}
			}
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
				padding-left: 45px;
				border-left: 1px solid rgba(0,0,0, .15);
			}
		}
	}
}