/* font reset */
@font-face {
    font-family: 'NotoSans-Regular';
    src: url('NotoSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'NotoSans-Bold';
    src: url('NotoSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'NotoSans-Thin';
    src: url('NotoSans-Light.woff') format('woff');
}
