//etc_contents
.contents-w {
	/* @include respond-to(pc) {
		width: 1100px;
	} */
}
.c-btn {
	margin-top: 80px;
	text-align: center;
	a {
		display: inline-block;
		height: 64px;
		padding: 0 55px;
		border-radius: 32px;
		border: 2px solid $color-point;
		box-sizing: border-box;
		color: $color-point;
		font-size: 22px;
		line-height: 56px;
		&:after {
			@include arrow($color-point);
			margin-left: 10px;
		}
	}
	@include respond-to(mobile) {
		margin-top: 50px;
		a {
			height: 45px;
			padding: 0 35px;
			font-size: 16px;
			line-height: 40px;
		}
	}
}
ul.cp-list { padding-top:20px }
ul.cp-list li{
	color:#666;
	font-size:18px;
	line-height:1.7
}
ul.cp-list li:before{
	content:'';
	display:inline-block;
	vertical-align:4px;
	width:4px;
	height:4px;
	margin-right:10px;
	border-radius:50%;
	background:#006ebc
}
ul.cp-list li .tit:after{
	content:'';
	display:inline-block;
	width:1px;
	height:12px;
	background:#c8c8c8
}
@media (min-width: 1001px){
	ul.cp-list li .tit{
		display:inline-block;
		position:relative;
		width:97px;
		margin-right:30px
	}
	ul.cp-list li .tit:after{
		position:absolute;
		top:10px;
		right:0
	}
}
@media (max-width: 1000px){
	ul.cp-list {padding-top:10px}
	ul.cp-list li{
		font-size:14px;
		padding-left:13px;
		text-indent:-13px
	}
	ul.cp-list li .tit{padding-right:10px}
	ul.cp-list li .tit:after{margin-left:10px}
}
.year100-cnts {
	margin-top: 140px;
	div.top-cnts {
		padding-bottom: 30px;
		strong {
			font: {
				size: 36px;
				weight: normal;
			}
			line-height: 1.3;
		}
		p {
			margin-top: 40px;
			font-size: 20px;
		}
		background: asset_url('100yearimg.png') no-repeat 100% 0;
	}
	h4 {
		padding-top: 100px;
		font: {
			size: 28px;
			family: $font-def;
		}
	}
	div.top-cnts + h4 {
		padding-top: 50px;
	}
	> p {
		padding-top: 30px;
		color: #666;
		font-size: 18px;
		line-height: 1.7;
		em {
			color: $color-point;
		}
	}
	@include respond-to(mobile) {
		margin-top: 70px;
		div.top-cnts {
			padding-bottom: 230px;
			background: {
				size: 278px 181px;
				position: 50% 100%;
			}
			strong {
				font-size: 22px;
			}
			p {
				margin-top: 20px;
				font-size: 15px;
			}
		}
		h4 {
			padding-top: 50px;
			font-size: 20px;
		}
		> p {
			padding-top: 20px;
			font-size: 15px;
		}
		h4 + p {
			padding-top: 10px;
		}
	}
}
.year100-notice {
	padding-top: 50px;
	> ul {
		padding-top: 40px;
		padding-left: 26px;
	}
	> ul > li {
		color: #666;
		font-size: 18px;
		line-height: 1.7;
    list-style-type: disc;
    list-style-position: outside;
	}
	@include respond-to(mobile) {
		> ul > li {
		// 	padding-top: 20px;
			font-size: 15px;
		}
		> ul {
			padding-left: 20px;
			padding-top: 10px;
		}
	}
}
.map-wrap { padding-top:90px }
.map-wrap h4 {
  margin-top:50px;
  font-size:28px;
  &.first {
  	margin-top: 0;
  }
}
.map-wrap .map-img {
  min-height:483px;
  margin-top:50px;
  border:1px solid #ccc
}
.map-wrap .map-img img { width:100% }
@media (max-width: 1000px) {
  .map-wrap {
    padding-top:0
  }
  .map-wrap h4 {
    padding-top:20px;
    font-size:20px
  }
  .map-wrap .map-img {
    margin-top:20px;
    min-height:auto
  }
}
.map-wrap {
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.schedule-wrap ol{
	padding-left:215px
}
.schedule-wrap ol li{
	position:relative;
	margin-top:-10px;
	padding:0 0 100px 65px;
	border-left:1px solid #c2c2c2
}
.schedule-wrap ol li:last-child{
	border:none
}
.schedule-wrap ol li:before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:-9px;
	width:18px;
	height:18px;
	background:#006ebc;
	border-radius:50%
}
.schedule-wrap ol li strong{
	display:block;
	position:absolute;
	top:-15px;
	left:-215px;
	font-size:36px;
	font-weight:normal
}
.schedule-wrap ol li>div{
	position:relative;
	top:-10px
}
.schedule-wrap ol li>div h4{
	font-size:28px;
}
.schedule-wrap ol li>div p{
	padding-top:30px;
	color:#666;font-size:18px
}
.schedule-wrap ol li>div>a{
	display:inline-block;
	width:139px;
	height:43px;
	margin-top:29px;
	border-radius:21px;
	background:#006ebc;
	color:#fff;
	font-size:18px;
	text-align:center;
	line-height:41px
}
.schedule-wrap ol li>div>a:after{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	border-width:2px 0 0 2px;
	border-color:#fff;
	border-style:solid;
	transform:rotate(135deg);
	box-sizing:border-box
}
@media (max-width: 1000px){
	.schedule-wrap ol li>div>a:after{
		width:10px;
		height:10px
	}
}
.schedule-wrap .no-schedule{
	padding:200px 0;
	border-width:2px 0;
	border-style:solid;
	border-color:#868686;
	font-size:20px;
	text-align:center
}
@media (min-width: 1001px) {
	.schedule-wrap{
		width:1000px;
		margin:140px auto 0
	}
}
@media (max-width: 1000px){
	.schedule-wrap{margin-top:70px}
	.schedule-wrap ol{padding-left:110px}
	.schedule-wrap ol li{padding:0 0 70px 30px}
	.schedule-wrap ol li strong{
		left:-110px;
		font-size:18px
	}
	.schedule-wrap ol li>div h4{font-size:18px}
	.schedule-wrap ol li>div p{
		padding-top:15px;
		font-size:14px
	}
	.schedule-wrap ol li>div>a{
		width:120px;
		height:39px;
		margin-top:15px;
		font-size:15px;
		line-height:37px
	}
	.schedule-wrap ol li>div>a:after{
		width:10px;
		height:10px
	}
}
.nat-part {
	margin-top: 80px;
	border-top: 2px solid #868686;
	.desc-box {
		padding-top: 90px;
		text-align: center;
		line-height: 1.3;
		> strong {
			display: inline-block;
			position: relative;
			font: {
				size: 30px;
				weight: normal;
			}
			&:before,
			&:after {
				content: '';
				display: block;
			    position: absolute;
				top: -25px;
				width: 38px;
				height: 28px;
				background: asset_url('quot.png') no-repeat 0 0;
				background-size: 100% 100%;
				opacity: 0.4;
			}
			&:before {
				left: 50px;
			}
			&:after {
				right: 50px;
				transform: rotate(180deg);
			}
		}
		p {
			padding-top: 20px;
			color: #666;
			font-size: 18px;
		}
	}
	.part-cnts {
		@include clearfix;
		margin-top: 70px;
		box-sizing: border-box;
		display: flex;
		> div {
			width: 600px;
			margin-left: -1px;
			box-sizing: border-box;
	    display: flex;
	    flex-flow: column;
			h4 {
				height: 60px;
				border-left: 1px solid #fff;
				background: $color-point;
				color: #fff;
				font: {
					size: 22px;
					family: $font-def;
				}
				text-align: center;
				line-height: 60px;
			}
			> div {
				min-height: 240px;
				padding: 35px;
				border: 1px solid #d6d6d6;
				box-sizing: border-box;
				ul {
					li {
						margin-top: 7px;
						padding-left: 14px;
						color: #666;
						font-size: 16px;
						line-height: 1.75;
						text-indent: -14px;
						&:before {
							content: '';
							display: inline-block;
							width: 4px;
							height: 4px;
							margin-right: 10px;
							background: #ababab;
							border-radius: 50%;
							vertical-align: middle;
						}
						&:first-child {
							margin-top: 0;
						}
					}
				}
				> a {
					display: block;
					width: 159px;
					height: 43px;
					margin: 40px auto;
					border-radius: 21px;
					background-color: $color-point;
					color: #fff;
					font-size: 18px;
					text-align: center;
					line-height: 43px;
					&:after {
						@include arrow(#fff);
					}
				}
			}
			&:first-child {
				h4 {
					border-radius: 5px 0 0;
				}
				> div {
					border-radius: 0 0 0 5px;
				}
			}
			&:last-child {
				h4 {
					border-radius: 0 5px 0 0;
				}
				> div {
			    height: 100%;
					border-radius: 0 0 5px 0;
				}
			}
		}
	}
	.tip {
		margin-top: 20px;
		padding: 20px 0 25px;
		background: #f2f2f2;
		text-align: center;
		h5 {
			color: $color-point;
			font: {
				size: 18px;
				family: $font-def;
			}
		}
		p {
			padding-top: 5px;
			color: #666;
			font-size: 16px;
		}
	}
	.sns-wrap {
		margin-top: 30px;
	}
	// 벡엔드보정
	@include respond-to(tablet) {
		margin-top: 40px;
		.desc-box {
			padding-top: 80px;
			strong {
				font-size: 20px;
				&:before,
				&:after {
					top: -45px;
					width: 36px;
					height: 27px;
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
				br {
					display: none;
				}
			}
			p {
				font-size: 16px;
			}
		}
		.part-cnts {
			margin-top: 40px;
			display: block;
			> div {
				float: none;
				width: auto;
				flex: 1;
				h4 {
					border-left: none;
					font-size: 18px;
				}
				> div {
					min-height: auto;
					padding: 30px;
					ul {
						li {
							margin-top: 0;
							font-size: 15px;
						}
					}
					> a {
						margin-top: 25px;
						font-size: 15px;
					}
				}
				&:first-child {
					h4 {
						border-radius: 5px 5px 0 0;
					}
					> div {
						border-radius: 0;
					}
				}
				&:last-child {
					h4 {
						border-radius: 0;
					}
					> div {
						border-radius: 0 0 5px 5px;
					}
				}
			}
		}
		.tip {
			padding: 20px 30px 30px;
			p {
				font-size: 15px;
			}
		}
	}
}
.service-wrap {
	padding-top: 60px;
	h4 {
		margin-top: 55px;
		font: {
			size: 28px;
			family: $font-def;
		}
	}
	h5 {
		padding-top: 40px;
		color: #666;
		font: {
			size: 17px;
			family: $font-def;
		}
	}
	p {
		padding-top: 15px;
		color: #666;
		font-size: 17px;
		line-height: 1.75;
		a {
			color: $color-point;
		}
	}
	h5 + p {
		padding-left: 20px;
	}
	ul {
		padding-top: 5px;
		li {
			margin-top: 10px;
			padding-left: 18px;
			color: #666;
			font-size: 17px;
			line-height: 1.75;
			text-indent: -18px;
			ul {
				li {
					margin-top: 5px;
					list-style: inside lower-alpha;
				}
			}
		}
		&.dec-list {
			padding-left: 10px;
			li {
				margin-top: 0;
				padding-left: 13px;
				text-indent: -13px;
				&:before {
					content: 'ㆍ';
					display: inline-block;
					margin: 0 6px 0 5px;
					color: #666;
					vertical-align: middle;
					list-style-position: inside;
				}
			}
		}
		&.num-list {
			padding-left: 20px;
			li {
				p {
					padding-top: 0;
					&:before {
						content: 'ㆍ';
					}
				}
			}
		}
	}
	h5 + p + .dec-list {
		padding-left: 30px;
	}
	@include respond-to(mobile) {
		padding-top: 10px;
		h4 {
			margin-top: 30px;
			font-size: 20px;
		}
		h5 {
			padding-top: 20px;
		}
		p {
			font-size: 15px;
			line-height: 1.6;
		}
		ul {
			li {
				margin-top: 5px;
				font-size: 15px;
				line-height: 1.6;
			}
		}
	}
}
