.header.we-made
  %h2 우리가 만들 세상
  %p
    “100년 전, 선조들이 꿈꾸었던 나라를 현실로 만들려면, 지금 우리는 무엇을 해야 할까요?
    = succeed "어떤 문제를 어떻게 해결해야 할까요? 100년 전의 꿈을 현실로 만들 실천과제를 토론해 봅시다.”" do
      %br/
.notice-view
  .suggest-box
    %strong 100년을 이끌 우리 사회에 필요한 해결 과제는?
    %p 국민 여러분의 생각과 의견을 자유롭게 공유해 주세요.
    - if user_signed_in?
      %a{href: new_suggestion_path(anchor: 'suggestion-body')} 제안하기
    - else
      %a{href: new_user_session_path} 제안하기
  .c-inner
    %a{ id: 'suggestion-body' }
    %h3 국민 제안
    %p 100년 토론광장의 국민들이 제안주신 의견입니다
    = content
