.header.dream-wrap
  %h2 100년 토론 광장
  %p
    "100년 토론광장은 3‧1운동과 대한민국임시정부 수립과 지난 100년의 역사에서 우리가 계승할 가치를 찾아보고,
    = succeed "앞으로 우리가 어떤 세상을 만들어야 하는지를 함께 토론하는 국민참여 행사입니다." do
      %br/
    %br/
    %span 토론 결과는 참가자 명의의 선언문으로 만듭니다."
.notice-view
  .tab
    / 하위메뉴 열림 "selected" class 추가
    %button{type: "button"} 소개
    %ul
      %li.selected
        %a{href: "#"} 소개
      %li
        %a{href: "#"} 개최일정
      %li
        %a{href: "#"} 유의사항
      %li
        %a{href: "#"} 오시는 길
  .c-inner
    \#content
